Source: cix-profiles
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,

Package: task-cd8180
Architecture: all
Priority: optional
Depends: cix-gpu-umd,
         cix-tools,
         cix-gpu-driver,
         cix-mesa,
         cix-xserver,
         cix-libglvnd,
         ${misc:Depends},
Description: Metapackages for common CD8180 vendor packages
 This package provides prebuilt packages from Cix that
 provides a more optimized user experience.
