[Unit]
Description=Patch custom kernel modules
Before=load-modules.service

[Service]
Type=oneshot
ExecStart=bash -c  'mver="$(uname -r) SMP preempt mod_unload aarch64"; \
                    for i in /lib/modules/6.1.44-cix-build-generic/extra/*.ko; do \
                        /usr/share/cix/bin/vermagic -v "$mver" "$i"; \
                    done'

[Install]
WantedBy=multi-user.target
